<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{36} - %msg%n </pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="ERROR"/>

    <root level="info">
        <appender-ref ref="STDOUT"/> <!-- Console에 로그를 출력하고자 할 때 사용 -->
    </root>
</configuration>